<h1 class="text-4xl font-bold text-center mb-6">Log in</h1>

<div class="max-w-md mx-auto bg-gray-200 p-6 rounded-lg shadow-lg">
  <%= form_with(url: login_path, scope: :session) do |f| %>
   <div class="mb-4">
      <%= f.label :email, class: "block text-lg font-medium " %>
      <%= f.email_field :email, class: "mt-1 block w-full p-2 border bg-gray-100 
      border-gray-600 rounded-lg focus:ring-indigo-300 focus:border-gray-300" %>
    </div>

    <div class="mb-4">
      <%= f.label :password, class: "block text-lg font-medium " %>
      <%= f.password_field :password, class: "mt-1 block w-full p-2 border bg-gray-100 
      border-gray-600 rounded-lg focus:ring-indigo-300 focus:border-gray-300" %>
    </div>

    <div>
      <%= f.submit "Log in", class: "w-full py-2 px-4 bg-gray-300  font-semibold
                      rounded-lg shadow-md hover:bg-gray-400 focus:outline-none focus:ring-2 
                      focus:ring-gray-400 focus:ring-opacity-75" %>
    </div>
  <% end %>

  <p class="space-x-6  p-2 rounded">New User? 
    <span class="text-indigo-800"><%= link_to "Sign up now!", signup_path %></span>
  </p>
</div>
