<div id="<%= dom_id page %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= page.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Slug:</strong>
    <%= page.slug %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Body:</strong>
    <%= page.body %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Parent:</strong>
    <%= page.parent_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Campaign:</strong>
    <%= page.campaign_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Position:</strong>
    <%= page.position %>
  </p>

</div>
