<div data-controller="toggle" data-container-id="<%= page.id %>" class="w-full mx-auto">
  <button class="top group !justify-between !py-0">
    <div class="flex items-center space-x-2 py-1">
      <a 
        data-action="click->toggle#toggle"
        data-toggle-target="triangle"
        class="group p-1 -ml-2 peer hover:rounded-sm hover:bg-indigo-400"
      >
        <%# triangle %>
        <svg id="triangle-<%= page.id %>" class="h-4 w-4 transition duration-500 ease-in-out group-hover:rotate-90" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
          <path fill="#212121" d="M9 17.898c0 1.074 1.265 1.648 2.073.94l6.31-5.521a1.75 1.75 0 0 0 0-2.634l-6.31-5.522C10.265 4.454 9 5.028 9 6.101v11.797Z"/>
        </svg>
      </a>
      <%= link_to campaign_page_path(page.campaign_id, page.slug), class: "top col-span-2 group-hover:cols-span-1" do %>
        <% if page.title.presence %>
          <span><%= page.title %></span>
        <% else %>
          <span class="italic"><%= t("untitled") %></span>
        <% end %>
      <% end %>

    </div>
    <div class="hidden items-center group-hover:flex">
      <%# minus-circle %>
      <%= link_to campaign_page_path(page.campaign_id, page.slug),
                  data: { 
                    "turbo-method": :delete, 
                    turbo_confirm: "Deleting this will delete all child pages as well. Delete anyway?" 
                  },
                  class: "p-1 hover:rounded-sm hover:bg-indigo-400" do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-f" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15 12H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
      <% end %>
      <%# plus-circle %>
      <%= link_to campaign_pages_path(parent_id: page.id),
                  data: { "turbo-method": :post },
                  class: "p-1 hover:rounded-sm hover:bg-indigo-400" do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
      <% end %>
    </div>
  </button>

  <div id="child-container-<%= page.id %>"  data-toggle-target="container" class="pl-3 flex flex-col items-start hidden">
    <% page.children.each do |child| %>
      <%= render "sidebar_child_level_page", page: child %>
    <% end %>
  </div>
</div>
