<%= content_for :title, @page.title || "untitled" %>
<div class="grid-body relative">
  <%= render "sidebar" %>
  <main class="col-span-2 w-full md:col-start-2">
    <div class="sticky top-0 bg-gray-100 z-50 w-full">
      <%= render partial: "navbar" %>
      <%= render partial: "layouts/flash" %>
    </div>

    <div>
      <img class="block h-[30vh] w-full object-cover object-[center_50%]" src="https://images.unsplash.com/photo-1616757729729-c59374fc50fa?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzMjIwNjR8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NTA3NTcyNDc&ixlib=rb-1.2.1&q=80&w=1080" />
    </div>
    <div class="flex w-full justify-center">
      <div class="w-[900px]">
        <%= render "header" %>
        <%# render "comments" %>
      </div>
    </div>
    <%= form_with model: [@campaign, @page], data: { controller: "tiptap"} do |f| %>
      <%= render partial: "body",
                  locals: { initial_content: @page.body,
                            form: f,
                            field_name: :body } %>
    <% end %>
  </main>
</div>
