<%= content_for :title, @page.title || "untitled" %>
<div class="grid grid-cols-12 gap-4 relative">
  <!-- Sidebar -->
  <aside class="col-span-2 hidden md:block bg-gray-100 h-screen sticky top-0">
    <%= render "sidebar" %>
  </aside>

  <!-- Main Content -->
  <main class="col-span-8 md:col-span-8">
    <div class="sticky top-0 bg-gray-50 z-50 w-full">
      <%= render partial: "layouts/flash" %>
      <%= render partial: "shared/chat_form" %>
    </div>

    <div class="flex w-full justify-center">
      <div class="w-[900px]">
        <%= render "header" %>
      </div>
    </div>

    <%= form_with model: [@campaign, @page], data: { controller: "tiptap"} do |f| %>
      <%= render partial: "body",
                  locals: { initial_content: @page.body,
                            form: f,
                            field_name: :body } %>
    <% end %>
  </main>
</div>

