<h1 class="text-4xl font-bold text-center mb-6">Create Campaign</h1>
<div class="max-w-md mx-auto bg-gray-200 p-6 rounded-lg shadow-lg">
  <%= form_with(model: @campaign) do |f| %>
    <%= render 'shared/error_messages', object: @campaign %>

    <div class="mb-4">
      <%= f.label :name, "Title", class: "block text-lg font-medium" %>
      <%= f.text_field :name, class: "mt-1 block w-full p-2 border 
      border-gray-600 rounded-lg focus:ring-gray-300 focus:border-gray-300" %>
    </div>

    <div class="mb-4">
      <%= f.label :description, class: "block text-lg font-medium" %>
      <%= f.text_area :description, class: "mt-1 block w-full p-2 border border-gray-600 
      rounded-lg focus:ring-gray-300 focus:border-gray-300" %>
    </div>

    <div>
      <%= f.submit "Create campaign", class: "w-full py-2 px-4 bg-gray-300 font-semibold
      rounded-lg shadow-md hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-indigo-400 focus:ring-opacity-75" %>
    </div>
  <% end %>
</div>
