<h1 class="text-4xl font-bold text-center  mb-6"><%= @campaign.name %></h1>
<div class="flex">
  <% button_colors = "bg-gray-300 border hover:bg-gray-400 focus:ring-gray-200" %>
  <% input_field_colors = "bg-gray-300 border-gray-400 focus:ring-gray-200 focus:border-gray-200" %>
  <%= link_to "Edit campaign details", edit_campaign_path(@campaign), 
    class: button_colors + "py-2 px-4 b  font-semibold rounded-lg shadow-md
           focus:outline-none focus:ring-2  focus:ring-opacity-75" %>
  <%= link_to "Manage", manage_campaign_path(@campaign), 
              class: button_colors +  "py-2 px-4  font-semibold
                      rounded-lg shadow-md  focus:outline-none 
                      focus:ring-2  focus:ring-opacity-75" %>
 <div class="space-y-4 mt-1 ml-auto">
    <div>
      <p class="space-y-4 text-xl mt-1 ml-auto">
        <strong>Game master:</strong> 
        <%= @campaign.roles.find_by(role_type: "gamemaster").user.username %>
      </p>
    </div>
    <div>
      <!-- Players -->
      <h3 class="text-xl"><strong>Players:</strong></h3>
      <ul>
        <% @players.each do |player| %>
          <li><%= player.username %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>


<!-- Invite User to Campaign -->
<% if @campaign.roles.exists?(user: current_user, role_type: :gamemaster) %>
  <h3 class="text-xl font-semibold">Invite a User</h3>
  <%= form_with url: invite_user_campaign_path(@campaign), method: :post do |f| %>
    <div class="flex flex-col space-y-4">
      <div class="flex items-center space-x-4">
        <div class="flex-1">
          <%= text_field_tag :username, nil, placeholder: "Enter user's username", 
            class: input_field_colors + "w-full p-2 border rounded-lg" %>
        </div>
        <%= submit_tag "Send Invitation", class: button_colors + "w-full py-2 px-4 font-semibold rounded-lg 
                        shadow-md focus:outline-none focus:ring-2 focus:ring-opacity-75 ml-auto" %>

      </div>
    </div>
  <% end %>
<% end %>


<!-- Characters -->
<div class="space-y-4 p-6">
  <h2 class="text-2xl">Description</h2>
  <p class="space-y-2 mt-4">
    <%= @campaign.description.presence || "No description provided" %>
  </p>
</div>
<div>
  <div class="flex items-center justify-between">
    <h1 class="text-4xl font-bold text-center underline  mb-6">Characters</h1>
    <%= button_to 'Add character', campaign_characters_path(@campaign),
                method: :post, data: { turbo: true }, params: { character: { name: "Default Name" } },
                class: button_colors + "w-full py-2 px-4 font-semibold rounded-lg 
                        shadow-md focus:outline-none focus:ring-2 
                        focus:ring-opacity-75 ml-auto" %>
  </div>

  <div id="characters">
    <ul>
     <%= render @campaign.characters.reverse %>
    </ul>
  </div>
</div>

<%# Chat display area? %>

