<header>
  <aside class="w-1/4 bg-zinc-400 p-6 shadow-lg">
    <ul class="absolute top-4 left-4 flex space-x-6 text-white-500 p-2">
      <li><%= link_to "About", about_path, class: "hover:underline" %></li>
      <% if logged_in? %>
        <li><%= link_to "Home", current_user, class: "hover:underline" %></li>
        <li><%= link_to "Log out", logout_path, class: "hover:underline", data: { "turbo-method": :delete } %></li>
      <% else %>
        <% unless request.fullpath == login_path || flash[:danger] %>
          <li><%= link_to "Log in", login_path, class: "hover:underline" %></li>
        <% end %>
        <% unless request.fullpath == signup_path || @user&.errors&.any?%>
          <li><%= link_to "Sign Up", signup_path, class: "hover:underline" %></li>
        <% end %>
      <% end %>
    </ul>
  </aside>
</header>

