<aside class="w-1/4 bg-slate-800 p-6 shadow-lg text-slate-300">
    <ul class="absolute top-4 left-4 flex space-x-6 p-2">
      <% if logged_in? %>
        <li><%= link_to "Home", current_user, class: "hover:underline" %></li>
        <li><%= link_to "Log out", logout_path, class: "hover:underline", data: { "turbo-method": :delete } %></li>
        <li><%= link_to "Settings", edit_user_path(current_user), class: "hover:underline" %></li>
      <% else %>
        <li><%= link_to "About", root_path, class: "hover:underline" %></li>
        <% unless request.fullpath == login_path || flash[:danger] %>
          <li><%= link_to "Log in", login_path, class: "hover:underline" %></li>
        <% end %>
        <% unless request.fullpath == signup_path || @user&.errors&.any?%>
          <li><%= link_to "Sign Up", signup_path, class: "hover:underline" %></li>
        <% end %>
      <% end %>
    </ul>
    <% if logged_in? %>
      <br>
       <!-- Sidebar -->
        <h1 class="text-4xl font-bold mb-4">
          <%= @user.username %>'s Page
        </h1>
        <p><%= @user.name %></p>
        <p class="mb-6"><%= @user.email %></p>

        <h3 class="text-4xl font-bold text-center underline text-slate-300 mb-6">Campaigns</h3>
        
        <%= link_to "New campaign", new_campaign_path, class: "w-full py-2 px-4 bg-slate-500 font-semibold rounded-lg shadow-md hover:bg-slate-600 focus:outline-none focus:ring-2 focus:ring-slate-400 focus:ring-opacity-75" %>

        <ul class="list-none space-y-2 mt-4 rounded shadow-md">
          <% @campaigns.each do |campaign| %>
            <li class="py-2 px-4 bg-slate-700 text-slate-100 font-semibold
                      rounded-lg shadow-md hover:bg-slate-800 focus:outline-none 
                      focus:ring-2 focus:ring-slate-400 focus:ring-opacity-75">
              <%= link_to "#{campaign.name}", campaign_path(campaign.id) %>
            </li>
          <% end %>
        </ul>
    <% end %>
  </aside>

