<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Char Craft" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "application.tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-slate-300 text-center">
    <div class="flex min-h-screen">
      <%= render "layouts/sidebar" %>
      <main class="flex-1 p-8 text-center">
        <% flash.each do |message_type, message| %>
          <% if message_type == "danger" %>
            <%= content_tag(:div, message, class: "alert-#{message_type} bg-red-100 border-red-400 text-red-700") %>
          <% else %>
            <%= content_tag(:div, message, class: "alert-#{message_type} bg-green-100 border-green-400 text-green-700") %>
          <% end %>
        <% end %>
        <%= yield %>
        <%= debug(params) if Rails.env.development? %>
      </main>
    </div>
  </body>
</html>
